@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap');

.label {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 0.9rem;
	font-weight: 500;
}

.input {
	margin: 0.2rem 0 1rem 0;
	padding: 0.4rem;
	width: 100%;

	font-family: 'Noto Sans JP', sans-serif;
	font-size: 0.9rem;
	font-weight: 300;

	border: 1px solid #ccc;
	border-radius: 0.4rem;
}

.input:focus {
	outline: none;
	background: #deeeff;
}