@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto:wght@300&display=swap');

.container {
	background: #f7f7f7;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

.title {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2rem;
	margin: 15vh 0 2vh 0;
}

.registerDiv {
	background: #fff;
	margin: 0 auto;
	padding: 1rem;
	width: 25%;
	text-align: left;
	border: 1px solid #ccc;
	border-radius: 0.4rem;
}

.login {
	background: transparent;
	margin: 1.5rem auto;
	padding: 1rem;
	width: 25%;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 0.4rem;
}

#login {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 0.9rem;
	font-weight: 500;
	text-decoration: none;

	color: #0069f1;
}

#login:hover {
	text-decoration: underline;
}
